<div class="current-information-today__date">
  <span class="current-information-today__day-number">{{dateMonth}}<sup>th</sup></span>
  <span class="current-information-today__day-name">{{numberWeek}}</span>
</div>
<div class="current-information-today__month-time">
  <span class="current-information-today__name-month">{{nameMonth}}</span>
  <span class="current-information-today__current-time">{{hours}}:{{minutes}}:{{seconds}}</span>
</div>