<li class="current-information-five-days__item visible-js">
  <h2 class="current-information-five-days__name-item">{{currentDayNameOfWeek}}</h2>
  <span class="current-information-five-days__date-name">{{currentDayNameOfDay}}</span>
  <span class="current-information-five-days__month-name">{{currentDayNameOfMonth}}</span>
  <img class="current-information-five-days__icon" src="http://openweathermap.org/img/w/{{currentDayIcon}}.png"
    alt="weather-icon">
  <div class="current-information-five-days__min-tempr">
    <h3 class="current-information-five-days__name-min">min</h3>
    <span class="current-information-five-days__tempr-value">{{currentDayMinTempr}}&#176</span>
  </div>
  <div class="current-information-five-days__max-tempr">
    <h3 class="current-information-five-days__name-min">max</h3>
    <span class="current-information-five-days__tempr-value">{{currentDayMaxTempr}}&#176</span>
  </div>
  <a id = "0" class="current-information-five-days__more-info" href="#">more info</a>
</li>
<li class="current-information-five-days__item visible-js">
  <h2 class="current-information-five-days__name-item">{{dayOneNameOfWeek}}</h2>
  <span class="current-information-five-days__date-name">{{dayOneNameOfDay}}</span>
  <span class="current-information-five-days__month-name">{{dayOneNameOfMonth}}</span>
  <img class="current-information-five-days__icon" src="http://openweathermap.org/img/w/{{dayOneIcon}}.png"
    alt="weather-icon">
  <div class="current-information-five-days__min-tempr">
    <h3 class="current-information-five-days__name-min">min</h3>
    <span class="current-information-five-days__tempr-value">{{dayOneMinTempr}}&#176</span>
  </div>
  <div class="current-information-five-days__max-tempr">
    <h3 class="current-information-five-days__name-min">max</h3>
    <span class="current-information-five-days__tempr-value">{{dayOneMaxTempr}}&#176</span>
  </div>
  <a id = "1" class="current-information-five-days__more-info" href="#">more info</a>
</li>
<li class="current-information-five-days__item visible-js">
  <h2 class="current-information-five-days__name-item">{{dayTwoNameOfWeek}}</h2>
  <span class="current-information-five-days__date-name">{{dayTwoNameOfDay}}</span>
  <span class="current-information-five-days__month-name">{{dayTwoNameOfMonth}}</span>
  <img class="current-information-five-days__icon" src="http://openweathermap.org/img/w/{{dayTwoIcon}}.png"
    alt="weather-icon">
  <div class="current-information-five-days__min-tempr">
    <h3 class="current-information-five-days__name-min">min</h3>
    <span class="current-information-five-days__tempr-value">{{dayTwoMinTempr}}&#176</span>
  </div>
  <div class="current-information-five-days__max-tempr">
    <h3 class="current-information-five-days__name-min">max</h3>
    <span class="current-information-five-days__tempr-value">{{dayTwoMaxTempr}}&#176</span>
  </div>
  <a id = "2" class="current-information-five-days__more-info" href="#">more info</a>
</li>
<li class="current-information-five-days__item">
  <h2 class="current-information-five-days__name-item">{{dayThreeNameOfWeek}}</h2>
  <span class="current-information-five-days__date-name">{{dayThreeNameOfDay}}</span>
  <span class="current-information-five-days__month-name">{{dayThreeNameOfMonth}}</span>
  <img class="current-information-five-days__icon" src="http://openweathermap.org/img/w/{{dayThreeIcon}}.png"
    alt="weather-icon">
  <div class="current-information-five-days__min-tempr">
    <h3 class="current-information-five-days__name-min">min</h3>
    <span class="current-information-five-days__tempr-value">{{dayThreeMinTempr}}&#176</span>
  </div>
  <div class="current-information-five-days__max-tempr">
    <h3 class="current-information-five-days__name-min">max</h3>
    <span class="current-information-five-days__tempr-value">{{dayThreeMaxTempr}}&#176</span>
  </div>
  <a id = "3" class="current-information-five-days__more-info" href="#">more info</a>
</li>
<li class="current-information-five-days__item">
  <h2 class="current-information-five-days__name-item">{{dayFourNameOfWeek}}</h2>
  <span class="current-information-five-days__date-name">{{dayFourNameOfDay}}</span>
  <span class="current-information-five-days__month-name">{{dayFourNameOfMonth}}</span>
  <img class="current-information-five-days__icon" src="http://openweathermap.org/img/w/{{dayFourIcon}}.png"
    alt="weather-icon">
  <div class="current-information-five-days__min-tempr">
    <h3 class="current-information-five-days__name-min">min</h3>
    <span class="current-information-five-days__tempr-value">{{dayFourMinTempr}}&#176</span>
  </div>
  <div class="current-information-five-days__max-tempr">
    <h3 class="current-information-five-days__name-min">max</h3>
    <span class="current-information-five-days__tempr-value">{{dayFourMaxTempr}}&#176</span>
  </div>
  <a id = "4" class="current-information-five-days__more-info" href="#">more info</a>
</li>
<li class="current-information-five-days__item">
  <h2 class="current-information-five-days__name-item">{{dayFiveNameOfWeek}}</h2>
  <span class="current-information-five-days__date-name">{{dayFiveNameOfDay}}</span>
  <span class="current-information-five-days__month-name">{{dayFiveNameOfMonth}}</span>
  <img class="current-information-five-days__icon" src="http://openweathermap.org/img/w/{{dayFiveIcon}}.png"
    alt="weather-icon">
  <div class="current-information-five-days__min-tempr">
    <h3 class="current-information-five-days__name-min">min</h3>
    <span class="current-information-five-days__tempr-value">{{dayFiveMinTempr}}&#176</span>
  </div>
  <div class="current-information-five-days__max-tempr">
    <h3 class="current-information-five-days__name-min">max</h3>
    <span class="current-information-five-days__tempr-value">{{dayFiveMaxTempr}}&#176</span>
  </div>
  <a  id = "5"class="current-information-five-days__more-info" href="#">more info</a>
</li>