<li class="current-information-five-days__item-tempr-range">
  <span class="current-information-five-days__item-tempr-time">{{time}}</span>
  <img class="current-information-five-days__main-icon" src="http://openweathermap.org/img/w/{{icon}}.png" alt="weather-icon">
  <span class="current-information-five-days__item-tempr-time">{{mainTempr}} &#176</span>
  <div class="current-information-five-days__pressure-box">
    <span class="current-information-five-days__pressure-value">{{pressure}} mm</span>
  </div>
  <div class="current-information-five-days__humidity-box">
    <span class="current-information-five-days__humidity-value">{{humidity}} &#37</span>
  </div>
  <div class="current-information-five-days__wind-speed-box">
    <span class="current-information-five-days__wind-speed-value">{{windSpeed}} m/s</span>
  </div>
</li>