<img class="current-temperature-today__icon" src="http://openweathermap.org/img/w/{{icon}}.png" alt="weather-icon">
<h2 class="current-temperature-today__country-name">{{nameCity}}, {{nameCountry}}</h2>
<div class="current-temperature-today__tempr">
  <div class="current-temperature-today__main-tempr">{{mainTemp}}&#176</div>
  <div class="current-temperature-today__min-tempr">
    <h3 class="current-temperature-today__name">min</h3>
    <span class="current-temperature-today__value">{{minTemp}}&#176</span>
  </div>
  <div class="current-temperature-today__max-tempr">
    <h3 class="current-temperature-today__name">max</h3>
    <span class="current-temperature-today__value">{{maxTemp}}&#176</span>
  </div>
</div>